body{
    background-color: rgb(222, 222, 222);
    height: 2000px;
}
.navbar-brand{
    color: rgb(8, 123, 123);
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
#carousel{
    margin-top: 50px;
}
.carousel-img{
    height: 650px;
    object-fit: fill;
}
.card{
    width: 18rem;
    align-items: center;
}
#productImage{
    height: 15rem;
    width: 15rem;
    padding-top: 10px;
    cursor: pointer;
}
.footer-head{
    color: rgb(32, 175, 175);
}
#form{
    width: 75%;
    margin-bottom: 5px;
}
#service-tab{
    width: 79%;
}

